*,
*:after,
*:before {
  box-sizing: border-box;
  vertical-align: top;
  text-decoration: none;
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
  border: none;
  outline: none;
  box-shadow: none;
}

.container_wrap {
  width: 100%;
  max-width: 1130px;
  margin: 0 auto;
  padding: 0 15px;
}

.container_main {
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 15px;
}

header {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("assets/bg_header.png");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  overflow: hidden;
}

.header_wrap {
  display: flex;
  flex-direction: column;
}

.header_top {
  display: flex;
  justify-content: center;
  height: 130px;
  align-items: center;
}

.header_logo {
  flex: 1 1 30%;
  height: 30px;
}
.header_logo a img {
  max-width: 100%;
}

.header_nav {
  flex: 1 1 70%;
}
.header_nav ul {
  display: flex;
  justify-content: flex-end;
}
.header_nav ul li {
  list-style: none;
  margin: 0 40px;
}
.header_nav ul li a span {
  font-size: 16px;
  color: white;
}
.header_nav ul li:hover {
  transform: scale(1.1);
}

.header_burger {
  display: none;
}

@media screen and (max-width: 810px) {
  .header_top {
    position: relative;
  }

  .header_nav {
    position: absolute;
    height: 100vh;
    width: 50%;
    top: 0;
    border: 1px solid #242528;
    right: -300%;
    backdrop-filter: blur(5px);
    background: rgba(28, 28, 43, 0.9);
    z-index: 150;
  }
  .header_nav ul {
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    flex-direction: column;
  }
  .header_nav ul li {
    margin: 25px 0;
  }

  .header_burger {
    display: flex;
    flex: 1 1 70%;
    justify-content: flex-end;
  }

  .burger_wrap {
    display: flex;
    justify-content: center;
    position: relative;
    height: 30px;
    width: 40px;
    cursor: pointer;
    z-index: 200;
  }
  .burger_wrap span {
    position: absolute;
    top: 50%;
    width: 80%;
    background: white;
    height: 2px;
  }
  .burger_wrap span:after, .burger_wrap span:before {
    content: "";
    position: absolute;
    background: white;
    width: 100%;
    height: 2px;
  }
  .burger_wrap span:after {
    transform: translateY(10px);
  }
  .burger_wrap span:before {
    transform: translateY(-10px);
  }

  .burger_active span {
    height: 0;
  }
  .burger_active span:after {
    transform: rotate(-35deg);
  }
  .burger_active span:before {
    transform: rotate(35deg);
  }
}
.header_nav_active {
  right: -15px;
}

@media screen and (max-width: 500px) {
  .header_nav {
    width: 75%;
  }
}
.header_main {
  display: flex;
  flex-direction: column;
}

.tittle_header, .description_header {
  width: 100%;
  max-width: 619px;
}
.tittle_header span, .description_header span {
  font-size: 50px;
  color: white;
}

.description_header {
  margin: 20px 0;
}
.description_header span {
  font-size: 16px;
  color: white;
}

.header_form {
  display: flex;
  margin: 0 -15px;
  flex: 100%;
  min-width: 100%;
}
.header_form form {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.header_form form .form_wrap {
  width: 100%;
  max-width: 300px;
  display: flex;
  align-items: center;
  height: 49px;
  padding: 0 15px;
}
.header_form form .form_wrap label {
  display: flex;
  align-items: center;
  width: 100%;
  cursor: pointer;
  border-bottom: 3px solid #D8D8D8;
}
.header_form form .form_wrap label:before {
  flex: none;
  content: "";
  height: 20px;
  width: 20px;
  background: transparent;
  border-radius: 50%;
  border: 2px solid white;
}
.header_form form .form_wrap label input {
  width: 100%;
  background: transparent;
  color: white;
  border: none;
  cursor: pointer;
  padding-left: 20px;
  height: 49px;
}
.header_form form .form_wrap label input::placeholder {
  color: white;
  font-size: 18px;
}
.header_form form .form_wrap label input:focus::placeholder {
  color: transparent;
}
@media all and (max-width: 630px) {
  .header_form form .form_wrap {
    max-width: 100%;
  }
}
.header_form form .button_wrap {
  display: flex;
  padding: 0 15px;
}
.header_form form .search {
  background: #1B7DFF;
  font-size: 24px;
  color: white;
  display: flex;
  width: 171px;
  height: 58px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
@media all and (max-width: 740px) {
  .header_form form .search {
    font-size: 16px;
    width: 120px;
    height: 28px;
  }
}

@media screen and (max-width: 835px) {
  .form_wrap {
    margin: 10px 0;
  }

  .button_wrap {
    margin: 20px 0;
  }
}
@media screen and (max-width: 550px) {
  .tittle_header span {
    font-size: 32px;
  }
}
.benefits_wrap {
  width: 100%;
  padding: 95px 0 112px 0;
  max-width: 1264px;
  background: white;
}
@media all and (max-width: 1000px) {
  .benefits_wrap {
    padding: 95px 0 30px 0;
  }
}
@media all and (max-width: 813px) {
  .benefits_wrap {
    margin: 0;
  }
}
@media all and (max-width: 400px) {
  .benefits_wrap {
    padding: 30px 0;
  }
}

.tittle_benefits {
  font-size: 35px;
  color: #102746;
  max-width: 960px;
  margin: 0 auto 120px;
}
@media all and (max-width: 1000px) {
  .tittle_benefits {
    text-align: center;
    margin: 0 auto 60px;
  }
}
@media all and (max-width: 800px) {
  .tittle_benefits {
    margin: 0 auto 50px;
  }
}
@media all and (max-width: 400px) {
  .tittle_benefits {
    font-size: 24px;
    margin-bottom: 40px;
  }
}

.block_benefits {
  display: flex;
  max-width: 960px;
  margin: 0 auto;
}
@media all and (max-width: 1000px) {
  .block_benefits {
    flex-direction: column;
  }
}

.block_main {
  display: flex;
  flex-direction: column;
  flex: 1 1 33.333%;
}
@media all and (max-width: 1000px) {
  .block_main {
    margin-bottom: 50px;
  }
}

.block_main_wrap {
  display: flex;
  flex-direction: column;
}
@media all and (max-width: 1000px) {
  .block_main_wrap {
    flex-direction: row;
  }
}
@media all and (max-width: 650px) {
  .block_main_wrap {
    flex-direction: column;
  }
}

.img_block {
  margin-bottom: 38px;
}
.img_block img {
  width: 66px;
  height: 66px;
  max-width: 100%;
}
@media all and (max-width: 1000px) {
  .img_block {
    margin-bottom: 15px;
  }
}

.block_text {
  display: flex;
  flex-direction: column;
}
@media all and (max-width: 1000px) {
  .block_text {
    padding-left: 50px;
  }
}
@media all and (max-width: 650px) {
  .block_text {
    padding: 0;
  }
}

.tittle_block {
  font-size: 18px;
  color: black;
  margin-bottom: 50px;
}
@media all and (max-width: 1000px) {
  .tittle_block {
    margin-bottom: 15px;
  }
}

.description_block {
  width: 100%;
  max-width: 70%;
  margin-bottom: 50px;
}
@media all and (max-width: 1000px) {
  .description_block {
    max-width: 100%;
    margin-bottom: 15px;
  }
}

.button_block {
  display: flex;
}
.button_block .btn_learn {
  font-size: 16px;
  color: #006DFE;
}
.button_block .arrow_block {
  display: flex;
  width: 33px;
  justify-content: center;
  align-items: center;
  margin-left: 26px;
}
.button_block .arrow_block span {
  display: flex;
  position: relative;
  width: 100%;
  height: 3px;
  background-color: #006DFE;
}
.button_block .arrow_block span:after {
  content: "";
  position: absolute;
  transform: translateY(-2px) rotate(30deg);
  background-color: #006DFE;
  width: 30%;
  height: 3px;
  right: 0;
}
.button_block .arrow_block span:before {
  content: "";
  position: absolute;
  transform: translateY(2px) rotate(-30deg);
  background-color: #006DFE;
  width: 30%;
  height: 3px;
  right: 0;
}

.inspired_tittle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 35px;
}
@media all and (max-width: 515px) {
  .inspired_tittle {
    flex-direction: column;
    align-items: flex-start;
  }
}

.tittle_wrap span {
  position: relative;
  font-size: 35px;
}
@media all and (max-width: 770px) {
  .tittle_wrap span {
    font-size: 24px;
  }
}
@media all and (max-width: 515px) {
  .tittle_wrap span {
    font-size: 18px;
    font-weight: bold;
  }
}
@media all and (max-width: 515px) {
  .tittle_wrap {
    margin-bottom: 10px;
  }
}

.inspired_section_one, .inspired_section_two {
  display: flex;
  align-items: center;
}
@media all and (max-width: 700px) {
  .inspired_section_one, .inspired_section_two {
    flex-direction: column;
  }
}

.section_img_one {
  flex: 1 1 50%;
  margin: 10px;
  position: relative;
  cursor: pointer;
}
.section_img_one:hover span {
  display: none;
}
@media all and (max-width: 700px) {
  .section_img_one {
    width: 100%;
    flex: 0 0 100%;
  }
}
.section_img_one img {
  width: 100%;
  max-width: 100%;
  height: 100%;
}
.section_img_one span {
  position: absolute;
  font-size: 50px;
  color: white;
  font-weight: bold;
  bottom: 0;
  left: 0;
  transform: translateX(20px) translateY(-20px);
}
@media all and (max-width: 1100px) {
  .section_img_one span {
    font-size: 30px;
  }
}

.section_img_two {
  flex: 1 1 33.333%;
  margin: 10px;
  position: relative;
  cursor: pointer;
}
.section_img_two:hover span {
  display: none;
}
@media all and (max-width: 700px) {
  .section_img_two {
    width: 100%;
    flex: 0 0 100%;
  }
}
.section_img_two img {
  max-width: 100%;
  width: 100%;
  height: 100%;
}
.section_img_two span {
  position: absolute;
  font-size: 50px;
  color: white;
  font-weight: bold;
  bottom: 0;
  left: 0;
  transform: translateX(20px) translateY(-20px);
}
@media all and (max-width: 1100px) {
  .section_img_two span {
    font-size: 30px;
  }
}

.prefecture {
  margin: 125px 0;
}
@media all and (max-width: 900px) {
  .prefecture {
    margin: 25px 0 50px 0;
  }
}

.tottori {
  display: flex;
  margin-bottom: 80px;
}
@media all and (max-width: 900px) {
  .tottori {
    flex-direction: column;
  }
}

.tittle_tottori {
  margin: 30px 0 50px 0;
}
@media all and (max-width: 900px) {
  .tittle_tottori {
    text-align: center;
    margin: 15px 0 10px 0;
  }
}

.description_tottori {
  margin: 30px 0 80px 0;
}
@media all and (max-width: 900px) {
  .description_tottori {
    margin: 15px 0 20px 0;
  }
}

.kyoto {
  flex-direction: row-reverse;
}
@media all and (max-width: 900px) {
  .kyoto {
    flex-direction: column;
  }
}

.tottori_img {
  flex: 1 1 50%;
}
.tottori_img img {
  max-width: 100%;
}
@media all and (max-width: 900px) {
  .tottori_img {
    display: flex;
    justify-content: center;
  }
}

.tottori_wrap {
  display: flex;
  flex-direction: column;
  padding: 0 45px;
  min-height: 100%;
  flex: 1 1 50%;
}
@media all and (max-width: 500px) {
  .tottori_wrap {
    padding: 0;
  }
}

.tittle_tottori {
  font-size: 30px;
}

.tittle_places {
  margin-bottom: 35px;
}
.tittle_places span {
  position: relative;
  font-size: 35px;
}
.tittle_places span:after {
  position: absolute;
  content: "";
  width: 70%;
  height: 3px;
  background: #006DFE;
  bottom: 0;
  left: 0;
  transform: translateY(7px);
}

.card_wrap {
  display: flex;
  margin: 30px 0;
}
@media all and (max-width: 910px) {
  .card_wrap {
    flex-direction: column;
    align-items: center;
  }
}

.card {
  display: flex;
  flex: 1 1 33.333%;
  flex-direction: column;
  justify-content: flex-start;
  width: 392px;
  margin: 0 25px;
}
@media all and (max-width: 910px) {
  .card {
    margin-bottom: 15px;
  }
}
@media all and (max-width: 410px) {
  .card {
    width: 100%;
  }
}

.card_img {
  width: 100%;
  position: relative;
}
.card_img img {
  width: 100%;
  max-width: 100%;
}

.about_card {
  display: flex;
  width: 100%;
  height: 55px;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  bottom: 0;
  background-color: rgba(46, 49, 49, 0.6);
  padding: 0 25px;
}

.name span {
  color: white;
  font-size: 18px;
  text-transform: uppercase;
}

.impact_person {
  display: flex;
}

.likes {
  display: flex;
  margin-right: 15px;
  cursor: pointer;
}

.number_likes {
  display: flex;
  align-items: center;
  margin: 0 5px;
}
.number_likes span {
  color: white;
  font-size: 16px;
}

.icons_likes {
  display: flex;
  justify-content: center;
  align-items: center;
}

.comments {
  display: flex;
  cursor: pointer;
}

.number_comments {
  margin: 0 5px;
}
.number_comments span {
  color: white;
  font-size: 16px;
}

.icons_comments {
  display: flex;
  align-items: center;
}

.card_description {
  width: 95%;
  margin: 30px 0;
}
.card_description span {
  width: 80%;
  font-size: 16px;
}

.button_card {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 120px;
  height: 40px;
  background-color: #006DFE;
}
.button_card span {
  font-size: 16px;
  color: white;
}

.img_japan img {
  width: 100%;
  max-width: 100%;
}

footer {
  background-color: #0E1D28;
}

.footer_wrap {
  display: flex;
}

.footer_logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  flex: 1 1 50%;
  cursor: pointer;
}
@media all and (max-width: 770px) {
  .footer_logo img {
    transform: rotate(-90deg);
    max-width: 100%;
  }
}
@media all and (max-width: 770px) {
  .footer_logo {
    flex: 1 1 25%;
    padding: 25px 0;
    height: 250px;
  }
}
@media all and (max-width: 490px) {
  .footer_logo {
    height: 350px;
  }
}

.footer_about {
  display: flex;
  flex: 1 1 50%;
}
@media all and (max-width: 770px) {
  .footer_about {
    margin: 10px 0;
    flex: 1 1 75%;
  }
}
@media all and (max-width: 490px) {
  .footer_about {
    flex-direction: column;
  }
}

.footer_col {
  flex: 1 1 33.333%;
  margin: 55px 0;
}
.footer_col ul li {
  list-style: none;
}
.footer_col ul li a {
  font-size: 16px;
  color: white;
}
@media all and (max-width: 770px) {
  .footer_col ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
@media all and (max-width: 770px) {
  .footer_col {
    display: flex;
    justify-content: flex-start;
    margin: 0;
    margin-bottom: 15px;
  }
}

/*# sourceMappingURL=style.css.map */
